<template>
  <div class="auth">
    <Auth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Auth from "../components/Auth.vue"; // @ is an alias to /src

@Component({
  components: {
    Auth
  }
})
export default class Login extends Vue {
  mounted(): void {
    // redirect to dashboard if user is loggedin
    if (this.$store.state.loggedin)
      this.$router.push(process.env.VUE_APP_DASHBOARD_PATH);
  }
}
</script>

<style scoped>
.auth {
  padding-top: 5em;
}
</style>

