<template>
  <div class="login">
    <div class="logo">
      <img
        width="100%"
        height="auto"
        src="https://www.corporate-planning.com/wp-content/themes/cp-website-theme/assets/images/2016-CP_Logo_einzeilig_RGB.svg"
      />
    </div>

    <b-form
      @submit="onSubmit"
      @reset="onReset"
      v-if="show"
    >
      <!-- Nickname -->
      <b-form-group
        id="input-group-1"
        label="Your Nickname:"
        label-for="input-1"
        v-if="form_state == IS_REGISTRATION"
      >
        <b-form-input
          id="input-1"
          v-model="form.nickname"
          type="text"
          required
          placeholder="Enter nickname"
        ></b-form-input>
      </b-form-group>

      <!-- E-Mail -->
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <!-- Password -->
      <b-form-group
        id="input-group-2"
        label="Your Password:"
        label-for="input-2"
        v-if="form_state == IS_LOGIN || form_state == IS_REGISTRATION"
      >
        <b-form-input
          type="password"
          id="input-2"
          v-model="form.password"
          required
          placeholder="Enter password"
        ></b-form-input>
      </b-form-group>

      <!-- Password confirm -->
      <b-form-group
        id="input-group-2"
        label="Confirm your Password:"
        label-for="input-2"
        v-if="form_state == IS_REGISTRATION"
      >
        <b-form-input
          type="password"
          id="input-2"
          v-model="form.password_confirm"
          required
          placeholder="Enter password again"
        ></b-form-input>
      </b-form-group>

      <!-- Buttons -->
      <b-button
        type="submit"
        variant="primary"
      >
        <span v-if="form_state == IS_LOGIN">Login</span>
        <span v-if="form_state == IS_REGISTRATION">Registration</span>
        <span v-if="form_state == IS_RESET_PASSWORD">Reset Password</span>
      </b-button>

      <div
        class="reset_link"
        @click="form_state = IS_RESET_PASSWORD"
        v-if="form_state == IS_LOGIN"
      >password forgotten?</div>

      <div
        class="reset_link"
        @click="form_state = IS_REGISTRATION"
        v-if="form_state == IS_LOGIN"
      >registration</div>

      <div
        class="reset_link"
        @click="form_state = IS_LOGIN"
        v-if="form_state == IS_RESET_PASSWORD || form_state == IS_REGISTRATION"
      >back to login</div>
    </b-form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import store from "../store";

@Component
export default class Auth extends Vue {
  @Prop({ default: "Test2" })
  message: string;

  show = true;
  form = {
    email: "marcel@fstack.de",
    nickname: "",
    password: "sommer123",
    password_confirm: "",
    name: "",
    checked: []
  };

  readonly IS_LOGIN = 0;
  readonly IS_REGISTRATION = 1;
  readonly IS_RESET_PASSWORD = 2;

  /*
  is_login = true;
  is_registration = false;
  is_reset_password = false;
  */

  form_state = this.IS_LOGIN;

  // Component methods can be declared as instance methods
  created(): void {}

  mounted(): void {}

  onClick(): void {
    window.alert(this.message);
  }

  onSubmit(evt: any): void {
    evt.preventDefault();

    if (this.form_state == this.IS_LOGIN) {
      store.dispatch("login", this.form);
    } else if (this.form_state == this.IS_RESET_PASSWORD) {
      // code ...
    }
  }

  onReset(evt: any): void {
    evt.preventDefault();
    // Reset our form values
    this.form_state = this.IS_LOGIN;
    this.form.nickname = "";
    this.form.email = "";
    this.form.name = "";
    this.form.checked = [];
    // Trick to reset/clear native browser form validation state
    this.show = false;

    this.$nextTick(() => {
      this.show = true;
    });
  }
}
</script>

<style scoped>
.reset_link {
  float: right;
  cursor: pointer;
  clear: both;
}
.logo {
  margin-bottom: 50px;
}
.login {
  background-color: #eee;
  width: 100%;
  max-width: 430px;
  padding: 50px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
